<!DOCTYPE html>
<html>
<head>
	<title>
		Recommendation System
	</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="Frontend/Recommendation System/style2.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Bangers&family=Nanum+Pen+Script&display=swap" rel="stylesheet">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="#">CODER'S GYM</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="127.0.0.1:3000/developers">About Us</a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Contact Us
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">Action</a>
	          <a class="dropdown-item" href="#">Another action</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Something else here</a>
	        </div>
	      </li>

	    </ul>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>
	  </div>
	</nav>




	<ul class="cards">
	  <li>
	    <a href="" class="card">
	      <img src="/Frontend/Recommendation System/weak.jpg" class="card__image" alt="" />
	      <div class="card__overlay">
	        <div class="card__header">
	          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
	          <img class="card__thumb" src="/Frontend/Recommendation System/red.png" alt="" />
	          <div class="card__header-text">
	            <h3 class="card__title" style="font-family: 'Nanum Pen Script', cursive; font-size: 35px;">WEAK</h3>

	          </div>
	        </div>
	        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
	      </div>
	    </a>
	  </li>
	  <li>
	    <a href="" class="card">
	      <img src="/Frontend/Recommendation System/good.jpg" class="card__image" alt="" />
	      <div class="card__overlay">
	        <div class="card__header">
	          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
	          <img class="card__thumb" src="/Frontend/Recommendation System/orange.png" alt="" />
	          <div class="card__header-text">
	            <h3 class="card__title" style="font-family: 'Nanum Pen Script', cursive; font-size: 35px;">GOOD</h3>

	          </div>
	        </div>
	        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
	      </div>
	    </a>
	  </li>
	  <li>
	    <a href="" class="card">
	      <img src="/Frontend/Recommendation System/perfect.jpg" class="card__image" alt="" />
	      <div class="card__overlay">
	        <div class="card__header">
	          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
	          <img class="card__thumb" src="/Frontend/Recommendation System/green.png" alt="" />
	          <div class="card__header-text">
	            <h3 class="card__title" style="font-family: 'Nanum Pen Script', cursive; font-size: 35px;">PROFICIENT</h3>

	          </div>
	        </div>
	        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
	      </div>
	    </a>
	  </li>

	</ul>



	<h1> TAGS </h1>
	<div class="tags">

		<div class="box1">
			<h4>Weak</h4>

			 <% if(weakarea.length > 0){ %>

            	<% for (var i = 0 ; i < weakarea.length-1 ; i++){ %>

                    <a href="#" class="btn btn-danger" title="">
                        <span class="text-sm text-gray">
                            <%= weakarea[i]%>
                         </span>
                     </a>
              <% } %>
              <% } %>

		</div>


		<div class="box2">
			<h4>Good</h4>

			<% if(goodarea.length > 0){ %>

                        	<% for (var i = 0 ; i < goodarea.length-1 ; i++){ %>

                               <a href="#" class="btn btn-warning" title="">
                                    <span class="text-sm text-gray">
                                        <%= goodarea[i]%>
                                     </span>
                                 </a>
                          <% } %>
                          <% } %>
		</div>


		<div class="box3">
			<h4>Proficient</h4>

				<% if(profarea.length > 0){ %>

                                    	<% for (var i = 0 ; i < profarea.length-1 ; i++){ %>

                                          <a href="#" class="btn btn-success" title="">
                                                <span class="text-sm text-gray">
                                                    <%= profarea[i]%>
                                                 </span>
                                             </a>
                                      <% } %>
                                      <% } %>


		</div>


	</div>
	<br><br><br>

<h1> RECOMMENDATION SYSTEM </h1>
	<div class="tags">
		<div class="box1">
			<h4>Easy</h4>

		  <% if(easyc.length > 0){ %>

                                              	<% for (var i = 0 ; i < easyc.length-1 ; i++){ %>

                                                    <a href=<%= easyl[i]%> class="btn btn-danger" title="">
                                                          <span class="text-sm text-gray">
                                                              <%= easyc[i]%>
                                                           </span>
                                                       </a>
                                                <% } %>
                                                <% } %>

		</div>


		<div class="box2">
			<h4>Medium</h4>

			  <% if(mediumc.length > 0){ %>

                                                          	<% for (var i = 0 ; i < mediumc.length-1 ; i++){ %>

                                                                <a href=<%= mediuml[i]%> class="btn btn-warning" title="">
                                                                      <span class="text-sm text-gray">
                                                                          <%= mediumc[i]%>
                                                                       </span>
                                                                   </a>
                                                            <% } %>
                                                            <% } %>

		</div>


		<div class="box3">
			<h4>Hard</h4>

			 <% if(hardc.length > 0){ %>

                                                                      	<% for (var i = 0 ; i < hardc.length-1 ; i++){ %>

                                                                            <a href=<%= hardl[i]%> class="btn btn-success" title="">
                                                                                  <span class="text-sm text-gray">
                                                                                      <%= hardc[i]%>
                                                                                   </span>
                                                                               </a>
                                                                        <% } %>
                                                                        <% } %>

		</div>


	</div>


	<br><br>
	<h1> RECOMMENDED COURSES </h1>
	<ul class="cards">
	  <li>
	    <a href="https://practice.geeksforgeeks.org/courses/cip-da" class="card">
	      <img src="https://media.geeksforgeeks.org/img-practice/banner/cip-da-thumbnail.png?v=1622572200" class="card__image" alt="" />
	      <div class="card__overlay">
	        <div class="card__header">
	          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
	          <div class="card__header-text">
	            <h3 class="card__title" style="font-family: 'Bebas Neue', cursive; font-size: 20px;">
                                Complete Interview Preparation With Doubt Assistance
                </h3>
                <h5>GFG</h5>

	          </div>
	        </div>
	        <p class="card__description">An interview-centric course with doubt assistance for pre-final/final year students and working professionals.</p>
	      </div>
	    </a>
	  </li>
	  <li>
	    <a href="https://www.edx.org/course/introduction-to-java-programming-starting-to-code" class="card">
	      <img src="https://hotforsecurity.bitdefender.com/wp-content/uploads/2013/02/java-logo.png" class="card__image" alt="" />
	      <div class="card__overlay">
	        <div class="card__header">
	          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>

	          <div class="card__header-text">
	            <h3 class="card__title" style="font-family: 'Bebas Neue', cursive; font-size: 20px;">Introduction to Java Programming: Starting to code in Java</h3>
	            <h5>eDX</h5>
	          </div>
	        </div>
	        <p class="card__description">University Carlos de Madrid</p>
	      </div>
	    </a>
	  </li>
	  <li>
	    <a href="https://practice.geeksforgeeks.org/courses/complete-interview-preparation" class="card">
	      <img src="https://media.geeksforgeeks.org/img-practice/banner/complete-interview-preparation-thumbnail.png?v=1622572200" class="card__image" alt="" />
	      <div class="card__overlay">
	        <div class="card__header">
	          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>

	          <div class="card__header-text">
	            <h3 class="card__title" style="font-family: 'Bebas Neue', cursive; font-size: 20px;">
                                Complete Interview Preparation
                </h3>
                <h5>GFG</h5>

	          </div>
	        </div>
	        <p class="card__description">An interview-centric course designed for pre-final/final year students and working professionals to land their dream jobs in service and product-based companies.</p>
	      </div>
	    </a>
	  </li>

	  <li>
	    <a href="https://www.coursera.org/specializations/algorithms" class="card">
	      <img src="https://infyni-prod-upgrade.s3.amazonaws.com/media/courses/2019/10/daie-algorithms.png" class="card__image" alt="" />
	      <div class="card__overlay">
	        <div class="card__header">
	          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>

	          <div class="card__header-text">
	            <h3 class="card__title" style="font-family: 'Bebas Neue', cursive; font-size: 30px;">Algorithms Specialization</h3>
	            <h5>Coursera</h5>
	          </div>
	        </div>
	        <p class="card__description">Stanford University</p>
	      </div>
	    </a>
	  </li>

	  <li>
	    <a href="https://practice.geeksforgeeks.org/courses/dsa-self-paced" class="card">
	      <img src="https://media.geeksforgeeks.org/img-practice/banner/dsa-self-paced-thumbnail.png?v=1622572200" class="card__image" alt="" />
	      <div class="card__overlay">
	        <div class="card__header">
	          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>

	          <div class="card__header-text">
	            <h3 class="card__title" style="font-family: 'Bebas Neue', cursive; font-size: 30px;">
                                Data Structures and Algorithms
                </h3>
	            <h5>GFG</h5>
	          </div>
	        </div>
	        <p class="card__description">Wishing to learn DSA but don't know where to start? Don't worry, this course is a complete package for you to learn all the concepts at your own pace.</p>
	      </div>
	    </a>
	  </li>

	  <li>
	    <a href="https://www.coursera.org/specializations/cs-fundamentals" class="card">
	      <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://d15cw65ipctsrr.cloudfront.net/14/1910be339d42288b8958d6f421d0c4/CS400_Logo_B_600.png?auto=format%2Ccompress&dpr=1&w=150&h=150&q=25&fit=fill&bg=FFF" class="card__image" alt="" />
	      <div class="card__overlay">
	        <div class="card__header">
	          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>

	          <div class="card__header-text">
	            <h3 class="card__title" style="font-family: 'Bebas Neue', cursive; font-size: 30px;">Accelerated Computer Science Fundamentals</h3>
	            <h5>Coursera</h5>

	          </div>
	        </div>
	        <p class="card__description">University of Illinois at Urbana-Champaign</p>
	      </div>
	    </a>
	  </li>

	</ul>



</body>
</html>