<!doctype html>
<html lang="en">
  <head>
  	<title>Problems Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="Frontend/Problem+Challenges-Final/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
    $(document).ready(function() {
        var $filterableRows = $('.table').find('tr').not(':first'),

        $inputs = $('.search-key');

        $inputs.on('input', function() {

            $filterableRows.hide().filter(function() {
            var $filterableColumns = $(this).find('td').not(':last');
            return $filterableColumns.filter(function() {

              var tdText = $(this).text().toLowerCase(),
                    inputValue = $('#' + $(this).data('input')).val().toLowerCase();

                return tdText.indexOf(inputValue) != -1;

            }).length == $(this).find('td').length-1;
          }).show();

        });
    });
    </script>



	</head>
	<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CODER'S GYM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:3000/developers">About Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contact Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section"><i><u>Challenges Arena</u></i></h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center mb-4">Click on <strong>Start</strong> to begin.</h4>


                    <input type="text" id="Code" class="search-key" placeholder="Code" size="10">
                    <input type="text" id="Title" class="search-key" placeholder="Title" size="31">
                    <input type="text" id="Platform" class="search-key" placeholder="Platform" size="10">
                    <input type="datetime" id="StartDate" class="search-key" placeholder="DD-MM-YYYY hh:mm:ss (Start Date)" size="29">
                    <input type="datetime" id="EndDate" class="search-key" placeholder="DD-MM-YYYY hh:mm:ss (End Date)" size="29">


					<div class="table-wrap">
						<table class="table">
					    <thead class="thead-primary">
					      <tr>

					        <th>Code</th>
					        <th>Title</th>
                            <th>Platform</th>
					        <th>Start Date</th>
                            <th>End Date</th>
					        <th>Start</th>


					      </tr>
					    </thead>
					   <tbody>
                       					      <tr>

                       							  <% if(contests.length > 0){ %>

                       							  <% for (var i = 0 ; i < contests.length-1 ; i++){ %>

                       							  <td scope="row" class="scope" data-input="Code"><b><%= contests[i][0]%></b></th>
                       							  <td data-input="Title"><%= contests[i][1]%></td>

                       							  <td data-input="Platform">Codechef</td>
                       							  <td data-input="StartDate"><%= contests[i][2]%></td>
                       							  <td data-input="EndDate"><%= contests[i][3]%></td>

                       							  <td><a href="<%= contests[i][4]%>" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       						  </tr>
                       						  <% } %>
                       						  <% } %>

                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">Educatio-l Codeforces Round 110 (Rated for Div. 2)</td>
                       							  <td data-input="Platform">Codeforces</td>
                       							  <td data-input="StartDate">04-06-2021 20:05:00</td>
                       							  <td data-input="EndDate">04-06-2021 22:05:00</td>
                       							  <td><a href="https://codeforces.com/contests" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td></tr>

                        							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">Codeforces Round #724 (Div. 2)</td>
                       							  <td data-input="Platform">Codeforces</td>
                       							  <td data-input="StartDate">06-06-2021 20:05:00</td>
                       							  <td data-input="EndDate">04-06-2021 22:05:00</td>
                       							  <td><a href="https://codeforces.com/contests" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">Codeforces Round (Div. 1 + Div. 2)</td>
                       							  <td data-input="Platform">Codeforces</td>
                       							  <td data-input="StartDate">13-06-2021 21:05:00</td>
                       							  <td data-input="EndDate">14-06-2021 00:05:00</td>
                       							  <td><a href="https://codeforces.com/contests" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">Kotlin Heroes: Practice 7</td>
                       							  <td data-input="Platform">Codeforces</td>
                       							  <td data-input="StartDate">22-06-2021 19:05:00</td>
                       							  <td data-input="EndDate">23-06-2021 02:05:00</td>
                       							  <td><a href="https://codeforces.com/contests" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">Kotlin Heroes: Episode 7</td>
                       							  <td data-input="Platform">Codeforces</td>
                       							  <td data-input="StartDate">29-06-2021 20:05:00</td>
                       							  <td data-input="EndDate">29-06-2021 22:35:00</td>
                       							  <td><a href="https://codeforces.com/contests" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">Codeforces Round (Div. 1 + Div. 2)</td>
                       							  <td data-input="Platform">Codeforces</td>
                       							  <td data-input="StartDate">17-07-2021 20:05:00</td>
                       							  <td data-input="EndDate">17-07-2021 23:05:00</td>
                       							  <td><a href="https://codeforces.com/contests" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>



                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">hackCovid 2.0</td>
                       							  <td data-input="Platform">Hackerearth Live</td>
                       							  <td data-input="StartDate">-</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://www.hackerearth.com/challenges/hackathon/hackerearth-hackcovid-2/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">Karomi Developer Hiring Challenge</td>
                       							  <td data-input="Platform">Hackerearth Live</td>
                       							  <td data-input="StartDate">-</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://www.hackerearth.com/challenges/hiring/karomi-developer-hiring-challenge/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">Amazon Business Research Hiring Challenge</td>
                       							  <td data-input="Platform">Hackerearth Live</td>
                       							  <td data-input="StartDate">-</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://www.hackerearth.com/challenges/hiring/amazon-ml-engineer-hiring-challenge-may21-round-1/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">Elear Solutions Intern Hiring Challenge</td>
                       							  <td data-input="Platform">Hackerearth Live</td>
                       							  <td data-input="StartDate">-</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://www.hackerearth.com/challenges/hiring/elear-solutions-intern-hiring-challenge/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">Fast, furious and Insured: Challenge</td>
                       							  <td data-input="Platform">Hackerearth Live</td>
                       							  <td data-input="StartDate">-</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://www.hackerearth.com/challenges/competitive/hackerearth-machine-learning-challenge-vehicle-insurance-claim/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">Integrate to Disrupt Hackathon</td>
                       							  <td data-input="Platform">Hackerearth Live</td>
                       							  <td data-input="StartDate">-</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://www.hackerearth.com/challenges/hackathon/symblais-disruption-hackathon/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">AI Hackathon</td>
                       							  <td data-input="Platform">Hackerearth Live</td>
                       							  <td data-input="StartDate">-</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://accenture-applied-intelligence-hackathon.hackerearth.com/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">FaaS Wars II</td>
                       							  <td data-input="Platform">Hackerearth Live</td>
                       							  <td data-input="StartDate">-</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://www.hackerearth.com/challenges/hackathon/faas-wars-season-2/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">Hack of PI</td>
                       							  <td data-input="Platform">Hackerearth Live</td>
                       							  <td data-input="StartDate">-</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://hack-of-pi.hackerearth.com/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>



                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">Mercedes Benz Data Engineer Hiring Challenge</td>
                       							  <td data-input="Platform">Hackerearth Upcoming</td>
                       							  <td data-input="StartDate">11-06-2021 18:00</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://www.hackerearth.com/challenges/hiring/mercedes-benz-data-engineer-hiring-challenge/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">MERN Stack Developer Hiring Challenge</td>
                       							  <td data-input="Platform">Hackerearth Upcoming</td>
                       							  <td data-input="StartDate">04-06-2021 18:00</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://www.hackerearth.com/challenges/hiring/mern-stack-developer-hiring-challenge-june21/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">Rupeek Backend Developer Hiring Challenge</td>
                       							  <td data-input="Platform">Hackerearth Upcoming</td>
                       							  <td data-input="StartDate">04-06-2021 18:00</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://www.hackerearth.com/challenges/hiring/rupeek-backend-developer-hiring-challenge-2021/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">Corner Stone Developer Hiring Challenge</td>
                       							  <td data-input="Platform">Hackerearth Upcoming</td>
                       							  <td data-input="StartDate">04-06-2021 18:00</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://www.hackerearth.com/challenges/hiring/cornerstone-developer-hiring-challenge/" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">Rupeek Android Developer Hiring Challenge</td>
                       							  <td data-input="Platform">Hackerearth Upcoming</td>
                       							  <td data-input="StartDate">04-06-2021 18:00</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://www.hackerearth.com/challenges/hiring/rupeek-android-developer-hiring-challenge/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">June Easy '21</td>
                       							  <td data-input="Platform">Hackerearth Upcoming</td>
                       							  <td data-input="StartDate">05-06-2021 09:30</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://www.hackerearth.com/challenges/competitive/hackerearth-june-easy-21/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">Mercedes Benz Cloud PLatform Developer Hiring Challenge</td>
                       							  <td data-input="Platform">Hackerearth Upcoming</td>
                       							  <td data-input="StartDate">11-06-2021 18:00</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://www.hackerearth.com/challenges/hiring/mercedes-benz-cloud-platform-developer-hiring-challenge-may21/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">Elear Solutions Platform Developer Hiring Challenge</td>
                       							  <td data-input="Platform">Hackerearth Upcoming</td>
                       							  <td data-input="StartDate">11-06-2021 18:00</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://www.hackerearth.com/challenges/hiring/elear-solutions-platform-developer-hiring-challenge/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">Playment Backend Developer Hiring Challenge</td>
                       							  <td data-input="Platform">Hackerearth Upcoming</td>
                       							  <td data-input="StartDate">11-06-2021 18:00</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://www.hackerearth.com/challenges/hiring/playment-backend-developer-hiring-challenge/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">Playment Frontend Developer Hiring Challenge</td>
                       							  <td data-input="Platform">Hackerearth Upcoming</td>
                       							  <td data-input="StartDate">11-06-2021 18:00</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://www.hackerearth.com/challenges/hiring/playment-frontend-developer-hiring-challenge/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">Big Data Developer Hiring Challenge</td>
                       							  <td data-input="Platform">Hackerearth Upcoming</td>
                       							  <td data-input="StartDate">11-06-2021 18:00</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://www.hackerearth.com/challenges/hiring/big-data-developer-hiring-challenge-june21/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">HSBC Android Developer Hiring Challenge</td>
                       							  <td data-input="Platform">Hackerearth Upcoming</td>
                       							  <td data-input="StartDate">11-06-2021 18:00</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://www.hackerearth.com/challenges/hiring/hsbc-android-developer-hiring-challenge/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">HSBC iOS Developer Hiring Challenge</td>
                       							  <td data-input="Platform">Hackerearth Upcoming</td>
                       							  <td data-input="StartDate">11-06-2021 18:00</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://www.hackerearth.com/challenges/hiring/hsbc-ios-developer-hiring-challenge/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>
                       							  <td scope="row" class="scope" data-input="Code"><b>-</b></th>
                       							  <td data-input="Title">Xebia Frontend Developer Hiring Challenge</td>
                       							  <td data-input="Platform">Hackerearth Upcoming</td>
                       							  <td data-input="StartDate">11-6-2021 18:00</td>
                       							  <td data-input="EndDate">-</td>
                       							  <td><a href="https://www.hackerearth.com/challenges/hiring/xebia-frontend-developer-hiring-challenge/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Start</a></td>
                       </tr>


                       					    </tbody>
                       					  </table>
                       					</div>
                       				</div>
                       			</div>
                       		</div>
                       	</section>


	</body>
</html>

