<!doctype html>
<html lang="en">
  <head>
  	<title>Problems Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="Frontend/Problem+Challenges-Final/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
    $(document).ready(function() {
        var $filterableRows = $('.table').find('tr').not(':first'),

        $inputs = $('.search-key');

        $inputs.on('input', function() {

            $filterableRows.hide().filter(function() {
            var $filterableColumns = $(this).find('td').not(':last');
            return $filterableColumns.filter(function() {

              var tdText = $(this).text().toLowerCase(),
                    inputValue = $('#' + $(this).data('input')).val().toLowerCase();

                return tdText.indexOf(inputValue) != -1;

            }).length == $(this).find('td').length-1;
          }).show();

        });
    });
    </script>



	</head>
	<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CODER'S GYM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=""127.0.0.1:3000/developers">About Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contact Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section"><i><u>Problems Arena</u></i></h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center mb-4">Click on <strong>Try</strong> to Solve</h4>

					<input type="text" id="Platform" class="search-key" placeholder="Platform">
                    <input type="text" id="Code" class="search-key" placeholder="Code">
                    <input type="text" id="Title" class="search-key" placeholder="Title">
                    <input type="text" id="Difficulty" class="search-key" placeholder="Difficulty">


					<div class="table-wrap">

						<table class="table">
					    <thead class="thead-primary">
					      <tr>
					        <th>Platform</th>
					        <th>Code</th>
					        <th>Title</th>
					        <th>Difficulty</th>
					        <th>Try</th>
					      </tr>
					    </thead>

					    <tbody>

					     <% if(problems.length > 0){ %>

                                  <% for ( var i = 0 ; i < problems.length ; i++){ %>
                                     <tr>
                                     <% var pl %>

                                     <% if(i < 6142){ %>
                                        <% pl = "CodeChef" %>
                                     <% } %>

                                     <% if(i > 6142){ %>
                                     <% pl = "CodeForces" %>
                                     <% } %>

                                     <td data-input="Platform"><%= pl %></td>
                                      <td scope="row" class="scope" data-input="Code"><b><%= problems[i][0]%></b></td>
                                      <td data-input="Title"><%= problems[i][1]%></td>

                                      <td data-input="Difficulty"><%= problems[i][2]%></td>
                                      <td><a href="<%= problems[i][3]%>" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Try</a></td>
                                      </tr>
                                  <% } %>
                               <% } %>
  		               </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>
	</section>


	</body>
</html>

